
#body{
    background-color: white;
}


#header{
    text-align:center;
    font-size: 40px;
    padding: 30px;

}
#text{
    line-height: 1.8;
    font-size: 24px;
}
#form-div{
    font-size: 24px;
    padding-left:20px;
}

body{
    margin:0;
    font-family: 'Merriweather', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
td{
    padding:4px;
    vertical-align: top;
    font-size: 24px;
}
input{
    font-size: 24px;
}
select{
    font-size: 24px;
}
textarea{
    font-size: 24px;
}
.valid{
    color:red
}
.number{
    white-space:nowrap;
    font-family:Tahoma,Arial,sans-serif;
    position:absolute;
}